.explore-filter-tags {
  display: flex;
  flex-flow: row wrap;
}

.explore-filter-tag {
  border-radius: 3px;
  font-size: 1.6rem;
  font-variant: all-small-caps;
  line-height: 2.4rem;
  margin: 0.8rem 0;
  margin-right: 0.8rem;
  padding: 0 0.4rem;
}

.explore-fa-lock {
  height: 14px;
  margin-right: 0.6rem;
  width: 12px;
}
