.explore-filter-tag {
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 3px;
  padding: 0 0.4rem;
  margin-right: 0.8rem;
  font-variant: all-small-caps;
}

.explore-fa-lock {
  height: 14px;
  margin-right: 0.6rem;
  width: 12px;
}
