.beta-success {
    .top-space {
        margin-top: 30px;
    }

    .bottom-space {
        margin-bottom: 60px;
    }

    .bold-text {
        font-weight: bold
    }

    .underlined-header {
        border-bottom: 1px solid black;
    }
}