@import '../styles/hero.scss';
@import '../styles/variables';

.beta-application {
  .underlined-header {
    border-bottom: 1px solid black;
  }

  .small-header-text {
    font-size: 14px;
    color: grey;
  }

  .name-input {
    display: inline-block;
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .checkbox-label {
    font-weight: bold;
    max-width: none;
  }

  .small-checkbox-label {
    color: grey;
    font-weight: normal;
  }

  .bold-text {
    font-weight: bold
  }

  .right-box {
    border: 1px solid white;
  }
}
