/*
  This file is shared between documentation/Documentation.tsx and releaseNotes/ReleaseNotes.tsx.
  This is an indication that it should probably be refactored and that possibly its consuming 
  components might be as well.
*/
@import '../styles/variables';

.explore {
  .vadp-internal-tag {
    display: block;
  }

  // These styles are the same as those for the PageHeader component,
  // but are used for the header in the ApiPage component, which creates similar markup
  // from markdown rather than the PageHeader component.
  .api-overview {
    h1 {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem !important;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem !important;
    }
  }

  #api-documentation {
    margin-top: 0;
  }

  .va-api-deprecation-alert {
    h2 {
      margin-top: 5px !important;
    }

    p {
      margin: 0;
    }
  }

  .swagger-ui {
    margin-top: 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #323a45;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

    p,
    select,
    label {
      color: #222;
    }

    .info {
      margin-top: 0;

      p {
        font-family: $font-sans;
        font-size: 1.7rem;
      }

      a {
        color: #4c565c;
        transition: none;
      }

      h2.title {
        // never show Swagger UI's title feature
        display: none;
      }
    }

    .opblock.opblock-post .opblock-summary-method {
      background: #44615d;
    }

    .opblock .opblock-summary-description {
      font-family: $font-sans;
    }

    .models h4 span {
      color: #555555;
    }

    .servers-title {
      display: block;
      margin-bottom: 2em;
    }

    .scheme-container {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    button.authorize {
      border-color: #4c565c;
      color: #4c565c;
    }

    button.authorize:hover,
    button.authorize:focus {
      background-color: #4c565c;
      color: #ffffff;

      svg {
        fill: currentColor;
      }
    }

    button.authorization__btn:hover,
    button.authorization__btn:focus {
      background-color: rgba(0, 0, 0, 0.8);

      svg {
        fill: #ffffff;
      }
    }

    .opblock-tag:focus {
      background: rgba(0, 0, 0, 0.2);
    }

    button.expand-operation:hover,
    button.expand-operation:focus {
      background: rgba(0, 0, 0, 0.6);

      svg {
        fill: #ffffff;
      }
    }

    .global-server-container {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 2em;

      .servers-title {
        margin-bottom: 1em;
      }
    }

    .wrapper {
      padding: 0;
    }

    table {
      td {
        border: none;
      }
    }

    blockquote {
      line-height: 1.5;
      color: $color-gray-dark;
      background: $color-primary-alt-lightest;
      padding: 1rem;
      padding-right: 2rem;
    }
  }

  .api-link {
    width: 50%;
    margin-bottom: 2em;
    a {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 1em;
      display: block;
      color: $color-black;
      text-decoration: none;

      span {
        font-weight: 600;
        font-size: 1.5em;
      }

      p {
        margin-bottom: 0;
      }
    }

    a:hover {
      background-color: rgba(0, 0, 0, 0.125);
    }
  }

  .api-name-tag {
    font-weight: 600;
  }

  .react-tabs {
    margin-top: 40px;

    > ul {
      border-color: #dbdbdd;
      margin: 0;

      > li {
        margin-bottom: 0;
      }

      [aria-selected='true'] {
        border-color: #dbdbdd;
      }
    }

    [role='tabpanel'] {
      background-color: $color-white;
      border-right: 1px solid #dbdbdd;
      border-bottom: 1px solid #dbdbdd;
      border-left: 1px solid #dbdbdd;
      padding: 1.5rem 2rem;
    }
  }

  .react-tabs__tab:focus:after {
    display: none;
  }
}
