@import '../base';

.Explore {
  padding-top: 5rem;
  padding-bottom: 3rem;

  h1,
  h2,
  h3 {
    color: $color-gray-dark;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem !important;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem !important;
  }

  #api-documentation {
    margin-top: 0;
  }

  .usa-section {
    padding-top: 0;

    > div {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sticky {
    top: 20px;
    display: none;

    @include media($medium-screen) {
      display: block;
      position: sticky;
    }
  }

  .swagger-ui {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #323A45;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

    p,
    select,
    label {
      color: #222;
    }

    .info {
      margin-top: 0;

      p {
        font-family: $font-sans;
        font-size: 1.7rem;
      }

      a {
        color: #4C565C;
      }

      .title {
        font-family: $font-sans;
        color: #323A45;

        small {
          background: #4C565C;
          line-height: 1em;

          pre {
            background: #4C565C;
            line-height: 1em;
          }
        }

        span small:last-child {
          background: #44615D !important;
          .version {
            background: #44615D !important;
          }
        }
      }
    }

    .opblock.opblock-post .opblock-summary-method {
      background: #44615D;
    }

    .opblock .opblock-summary-description {
      font-family: $font-sans;
    }

    .models h4 span {
      color: #555555;
    }

    .servers-title {
      display: block;
      margin-bottom: 2em;
    }

    .scheme-container {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    button.authorize {
      border-color: #4C565C;
      color: #4C565C;
    }

    button.authorize:hover, button.authorize:focus {
      background-color: #4C565C;
      color: #ffffff;

      svg {
        fill: currentColor;
      }
    }

    button.authorization__btn:hover, button.authorization__btn:focus {
      background-color: rgba(0,0,0,0.8);

      svg {
        fill: #ffffff;
      }
    }

    .opblock-tag:focus {
      background: rgba(0,0,0,0.2);
    }

    button.expand-operation:hover, button.expand-operation:focus {
      background: rgba(0,0,0,0.6);

      svg {
        fill: #ffffff;
      }
    }

    .global-server-container {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 2em;

      .servers-title {
        margin-bottom: 1em;
      }
    }

    .wrapper {
      padding: 0
    }

    table {
      td {
        border: none;
      }
    }
  }

  .api-link {
    width: 50%;
    margin-bottom: 2em;
      a {
          box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
          padding: 1em;
          display: block;
          color: $color-black;
          text-decoration: none;

          span {
              font-weight: 600;
              font-size: 1.5em;
          }

          p {
              margin-bottom: 0;
          }
      }

      a:hover {
          background-color: rgba(0,0,0,0.125);
      }
  }

  .api-name-tag {
    font-weight: 600;
  }

  .Explore-main.usa-grid {
    max-width: 1200px;
    margin-left: 0;
  }

  .vadp-side-nav {
    padding-right: 3rem;
  }

  .usa-sidenav-list {
    border: 2px solid #DBDBDD;
    background-color: $color-white;

    > li {
      a.side-nav-category-link {
        padding-left: 1.1rem;
      }

      a.side-nav-api-link {
        padding-left: 3.3rem;
      }

      a.side-nav-category-link.usa-current {
        border: none;
        border-left: 5px solid #2F70B5;
      }

      a.usa-current + ul.usa-sidenav-sub_list {
        display: block;

        ul.usa-sidenav-sub_list > li > a {
          padding-left: 5rem;
        }
      }

      a + ul.usa-sidenav-sub_list {
        display: none;
      }
    }
  }

  .usa-sidenav-sub_list {
    padding-left: 0;

    a.side-nav-api-link {
      padding-left: 3rem;
    }
  }

  .usa-sidenav-list > li,
  .usa-sidenav-sub_list > li {
    border-top: 2px solid #DBDBDD;

    a {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    a {
      color: #222;
    }

    a.usa-current {
      color: #383838;
    }

    a:hover {
      background-color: #DBDBDD;
    }
  }

  .va-api-container {
    display: flex;
    flex-flow: row wrap;

    a.va-api-card {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
