@import '../styles/variables';
@import '~@department-of-veterans-affairs/formation/sass/full';

div.title-border {
  width: 20%;
  margin: auto;
  border-bottom: 5px solid #e31c3d;
}

section.api-list {
  margin: auto;

  h2 {
    display: inline-block;
    margin-right: 2rem;
  }

  .explore-api-card-container {
    border: 1px solid $color-gray-light;
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }
}

a.va-home-button {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

div.va-column-content-text {
  position: relative;
}

.flex-basis-32 {
  flex-basis: 32%;
}
.home .process strong a {
  font-family: 'Bitter', serif;
}
