@import '../styles/variables';

.home {
  .site-disclaimer {
    background-color: $color-gold;

    a {
      color: #004795 !important;
    }
  }

  .va-api-hero-callout {
    p {
      font-weight: 100;
    }
  }

  .va-api-container {
    padding-top: 40px;
  }

  a.va-api-card {
    width: 100%;

    @include media($medium-screen) {
      width: 250px;;
    }
  }

  .ruled-stars {
    align-items: center;
    background: url('../assets/stars.png') no-repeat 50%;
    background-size: 11rem auto;
    border: none;
    display: flex;
    justify-content: center;
    margin: 1.6rem auto auto;
    padding: 2rem 0 0;
    text-align: center;

    &:before {
      border-top: 1px solid #aeb0b5;
      content: " ";
      flex: 1 1 50%;
      margin-right: 10rem;
      padding: 1rem 0;
    }

    &:after {
      border-top: 1px solid #aeb0b5;
      content: " ";
      flex: 1 1 50%;
      margin-left: 10rem;
      padding: 1rem 0;
    }
  }
}
