@import '../base';

.Home {
   .site-disclaimer {
     background-color: $color-gold;
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 30px;
     a {
       color: #004795 !important;
     }
   }
    .usa-hero {
        background-color: #4a4a4a;
        background-image: url('../assets/home-page-banner.png');
        padding: 8rem 0 9rem;

        .usa-hero-callout {
            background: none;
            color: $color-white;
            max-width: 100%;
            padding: 0;

            h1 {
                font-family: $font-sans;
                color: $color-white;
            }

            p {
                font-size: 1.2em;
                font-weight: 100;
                margin: 0;
                max-width: 700px;
            }
        }
    }

    .usa-section {
      padding-top: 3rem;
      padding-bottom: 3rem;

      &.discover-apis {
        padding-bottom: 6rem;
      }
    }

    .video-wrapper {
      position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
    	height: 0;

      iframe {
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .va-api-container {
      padding-top: 40px;
    }

    a.va-api-card {
      width: 100%;

      @include media($medium-screen) {
        width: 250px;;
      }
    }

    .ruled-stars {
      align-items: center;
      background: url('../assets/stars.png') no-repeat 50%;
      background-size: 11rem auto;
      border: none;
      display: flex;
      justify-content: center;
      margin: 1.6rem auto auto;
      padding: 2rem 0 0;
      text-align: center;

      &:before {
        border-top: 1px solid #aeb0b5;
        content: " ";
        flex: 1 1 50%;
        margin-right: 10rem;
        padding: 1rem 0;
      }

      &:after {
        border-top: 1px solid #aeb0b5;
        content: " ";
        flex: 1 1 50%;
        margin-left: 10rem;
        padding: 1rem 0;
      }
   }
}
