// These styles are lifted from src/containers/Explore.scss and should be
// extracted since we want them on all pages except the homepage
.news {
  .usa-section {
    padding-top: 0;

    > div {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .news-section {
    margin-bottom: 3rem;
  }
}
