.hover-image-videoplayer {
    width: 110px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/video-player.png');

    &:hover {
        background-image: url('../assets/video-player-hover.png')
    }
}

@media (min-width: 890px) {
    .hover-image-videoplayer {
        width: 220px;
        height: 160px;
    }
}