.news {
  .va-api-media-row-description {
    margin-top: auto;
    margin-bottom: auto;
  }

  .usa-section {
    padding-top: 0;

    > div {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .news-section {
    margin-bottom: 3rem;
  }
}
