@import '../../styles/variables';
// The stylings here are based off of patterns found here: https://inclusive-components.design/cards/

.va-api-card {
  position: relative;
  border-radius: 4px;

  .card-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .name-border {
    width: 20%;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a:visited {
    color: $color-link-default;
  }

  &:hover,
  &.va-api-card-link-focused {
    border-color: $color-primary-darker !important;
    .name-border {
      border-bottom: 5px solid $color-primary-darker !important;
    }
  }

  &:active {
    outline: 2px solid $color-gold;
    outline-offset: 2px;
    .name-border {
      border-bottom: 5px solid $color-primary-darker !important;
    }
  }

  .card-content p:last-child {
    margin-top: auto;
  }
}
