.va-api-contact-us-form {
  legend {
    font-size: 2rem;
  }

  .va-api-contact-us-legend-description {
    font-size: 1.7rem;
    font-weight: normal;
  }

  label {
    max-width: 100%;
  }

  textarea {
    max-width: 100%;
  }
}