.progress-bar-segmented[aria-valuenow='1'] {
  .progress-segment {
    display: none;
  }
  .progress-segment-complete {
    display: block;
    max-width: 25%;
  }
}

.prod-access-form {
  #warning-508-complicance-modal{
    .va-modal-title{
      text-align: center;
    }
    .va-modal-icon{
      margin:10px auto;
      display:block;
    }
    .alert-actions{text-align:center}
  }

  #non-us-based-modal {
    .va-modal-body {
      text-align: center;

      img {
        padding: 30px 0 20px;
      }

      p {
        padding-bottom: 40px;
      }
    }
  }
}
