.progress-bar-segmented[aria-valuenow='1'] {
  .progress-segment {
    display: none;
  }
  .progress-segment-complete {
    display: block;
    max-width: 25%;
  }
}

.prod-access-form{
  #warning-508-complicance-modal{
    .va-modal-title{
      text-align: center;
    }
    .va-modal-icon{
      margin:10px auto;
      display:block;
    }
    .alert-actions{text-align:center}
  }
}



