.request-production-access {
  tbody {
    vertical-align: top;
  }

  ul.checklist {
    list-style: url('../../assets/checklist-checkbox.svg');

    li > ul {
      list-style: url('../../assets/checklist-checkbox.svg');
    }
  }
}