@import '../../styles/variables';

#version-select {
  select {
    display: inline-block;
  }

  button {
    display: block;
    @include media($large-screen) {
      display: inline-block;
      margin-left: 25px;
    }
  }
}
