@import '../../../../styles/variables.scss';
.va-text-entry-container {
  max-width: 50%;
  button[name='remove'] {
    width: 28%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
  input {
    max-width: none;
  }
}
.va-text-entry-field {
  input:disabled {
    background-color: $color-gray-lighter;
  }
}
