.explore-root-container {
  padding: 2rem 3.2rem 0;
}

.filters-container {
  background-color: #f1f1f1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.8rem 0 1.6rem;
  padding: 1rem 0.8rem;
  width: 100%;
}

.filter-controls {
  display: flex;
  flex-flow: row nowrap;
}

input.filter-size {
  height: 2rem;
}

.filter-size {
  width: 22rem;
}

.caption-container {
  display: flex;
  align-items: center;
}

.explore-main-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2.4rem;
}

.explore-end-of-list {
  font-family: 'Helvetica Neue';
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.25px;
  line-height: 1.4rem;
  margin-bottom: 11.6rem;
  text-align: center;
}
#explore-page-fuzzy-search {
  margin-left: 24px;
  width: 235px;

  input {
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    width: calc(100% - 47px);
  }
  button {
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
    height: 42px;
    width: 47px;
    border-radius: 0 5px 5px 0;
  }
}
