@import '../../styles/variables';

.release-notes-wrapper {
  word-break: break-word;

  h2 {
    font-family: $font-sans;
    font-size: 2rem;
    margin-top: 3rem;
  }

  p {
    white-space: pre-wrap;
  }
}