@import '../../../styles/variables';
@import '~@department-of-veterans-affairs/formation/sass/full';

@mixin table-style {
  padding: 0;
  margin: 0;
  th {
    padding: 1rem;
  }
  tr {
    td {
      padding: 1rem;
      background-color: #eeeeee;
      border: 1px solid #5b616b;
    }
    &:last-child {
      td {
        border-bottom: 1px solid #5b616b;
      }
    }
  }
}

.opblock-section,
.responses-wrapper {
  margin: 2em 2em 0;
  padding-bottom: 1em;
}

.execute-wrapper {
  display: none;
}

.scheme-container {
  display: none;
}

.table-container,
.responses-inner {
  padding: 1em 0 2em !important;
}

.opblock {
  .opblock-body {
    background-color: white;
    pre span.linenumber {
      color: #AEB0B5 !important;
    }
    .opblock-section-header {
      padding: 0 !important;
      box-shadow: none !important;
      .opblock-title,
      h4 {
        font-size: 3rem !important;
      }
    }
    .table-container {
      padding: 0;
      .parameters {
        @include table-style;
      }
    }
    .responses-inner {
      padding: 0;
      .responses-table {
        @include table-style;
        table-layout: fixed;
        width: 100%;

        .response-col_status,
        .response-col_links {
          width: 15%;
        }

        thead {
          .col_header {
            border: 1px solid #5b616b;
            border-bottom: 1px solid rgba(59, 65, 81, 0.2) !important;
          }
        }
      }
    }
    select {
      min-width: unset !important;
      max-width: 100%;
    }
    .va-api-curl-form select {
      min-width: 230px !important;
      max-width: 46rem;
    }
  }

  &.opblock-deprecated {
    .opblock-summary-method {
      color: $color-black !important;
    }
  }
}
.swagger-ui .renderedMarkdown {
  @import '~uswds/src/stylesheets/elements/table';

  table {
    thead tr {
      th {
        background-color: $color-gray-lightest;
        color: $color-gray-dark;
        font-family: $font-sans;
        font-size: $base-font-size;
        font-weight: $font-bold;
      }

      td {
        background-color: $color-gray-lightest;
      }
    }
    tbody tr td:first-of-type {
      padding: 1rem 1.5rem;
      width: auto;
    }
  }
}

.swagger-ui table.model tbody tr td:first-of-type {
  word-break: break-all;
}
