@mixin table-style {
  padding: 0;
  margin: 0;
  th {
    padding: 1rem;
  }
  tr {
    td {
      padding: 1rem;
      background-color: #EEEEEE;
      border: 1px solid #5b616b;
      border-top-style: none;
      border-bottom-style: none;
    }
    &:last-child{
      td {
        border-bottom: 1px solid #5b616b;
      }
    }
  }
}

.opblock-section, .responses-wrapper {
  margin: 2em 2em 0;
  padding-bottom: 1em;
}

.execute-wrapper {
  display: none;
}

.scheme-container {
  display: none;
}

.table-container, .responses-inner {
  padding: 1em 0 2em !important;
}

.opblock {
  .opblock-body {
    background-color: white;
    .opblock-section-header {
      padding: 0 !important;
      box-shadow: none !important;
      .opblock-title, h4 {
        font-size: 3rem !important;
      }
    }
    .table-container {
      padding: 0;
      .parameters {
        @include table-style;
        input, select {
          display: none;
        }
      }
    }
    .responses-inner {
      padding: 0;
      .responses-table{
        @include table-style;
        thead {
          .col_header {
            border: 1px solid #5b616b;
            border-bottom: 1px solid rgba(59, 65, 81, .2) !important;
          }
        }
      }
    }
  }
}
