@import '../../styles/variables';

.va-api-side-nav {
  position: sticky;
  top: 20px;
}

li.va-api-sidenav-entry {
  a:hover,
  a:focus {
    background-color: $color-gray-lighter;
  }
}

ul.va-api-sidenav-sub-list {
  // Hide subnav by default
  display: none;
  list-style: none;
}

a.va-api-active-sidenav-link + ul.va-api-sidenav-sub-list {
  // Show the subnav when its parent (represented as a sibling in the DOM)
  // is the selected nav item
  display: block;
}

a.va-api-secondary-skip-nav {
  position: absolute;
  top: -1000px;
  background: $va-api-color-blue-dark;

  &:focus {
    position: relative;
    top: auto;
  }

  &:hover {
    background: $va-api-color-blue-dark;
  }
}
