@import '../../styles/variables';

.va-api-side-nav {
  position: sticky;
  top: 20px;
}

li.va-api-sidenav-entry {
  a:hover,
  a:focus {
    background-color: $color-gray-lighter;
  }
}

ul.va-api-sidenav-sub-list {
  // Hide subnav by default
  display: none;
  list-style: none;
}

a.va-api-active-sidenav-link + ul.va-api-sidenav-sub-list {
  // Show the subnav when its parent (represented as a sibling in the DOM)
  // is the selected nav item
  display: block;
}

a.va-api-secondary-skip-nav {
  position: absolute;
  top: -1000px;
  background: $va-api-color-blue-dark;

  &:focus {
    position: relative;
    top: auto;
  }

  &:hover {
    background: $va-api-color-blue-dark;
  }
}

ul.usa-sidenav-list {
  a {
    font-size: 1.5rem;
  }

  button {
    background-color: white;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #000 !important;
    display: block;
    font-family: $font-sans;
    font-weight: normal;
    font-size: 1.5rem;
    height: 100%;
    line-height: 1.95rem;
    margin: 0;
    padding: 0.85rem 1rem 0.85rem $site-margins-mobile;
    text-align: left;
    text-decoration: none;
    width: 100%;

    text-decoration-line: none;
    text-decoration-color: rgb(33, 33, 33);
    text-decoration-style: solid;
    text-decoration-thickness: auto;

    &:hover,
    &:focus {
      background-color: $color-gray-lighter;
      color: $color-primary;
      text-decoration: none;
    }

    &:focus {
      outline-offset: 0;
      position: relative;
      z-index: 1;
    }

    &.usa-current {
      /* stylelint-disable-line selector-no-qualifying-type */
      border-left: $sidenav-current-border-width solid $color-primary;
      color: $color-primary;
      font-weight: $font-bold;
      padding-left: $site-margins-mobile - $sidenav-current-border-width;
    }
  }
}
