@import '../../styles/variables';

// provides dependencies for m-crisis-line
@import '~@department-of-veterans-affairs/formation/sass/base/b-mixins';

// provides CSS classes va-crisis-line, va-crisis-line-button, va-crisis-panel, va-crisis-panel-body, and vcl
@import '~@department-of-veterans-affairs/formation/sass/site/m-crisis-line';

button.va-api-crisis-line-button {
  background-image: none;
  background-size: 0;
  background-color: #A62D1B;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #7F2011;
  }

  .va-api-vcl-logo-white {
    // override with white version of the VCL icon
    background-image: url('../../assets/VCL-icon-white.svg');
  }
}

@include media($medium-screen) {
  .va-api-crisis-line-container {
    background-color: #7F2011;
    transition: background-color 0.3s ease-in-out;
  }
  
  button.va-api-crisis-line-button:hover {
    .va-api-crisis-line-container {
      background-color:  #A62D1B;
    }
  }
}

.va-api-right-arrow {
  width: 1.2rem;
}

.va-api-crisis-panel {
  top: 0;
  transform: none;
}

.va-api-crisis-line-logo {
  height: 2rem;
}

ul.va-api-crisis-panel-list {
  .va-api-crisis-panel-icon {
    width: 24px;
    height: 24px;
  }

  a:active,
  a:focus {
    outline-offset: -2px;
    outline: 2px solid $color-gold;
  }
}
