// Colors
$color-gray-cool-light: #dce4ef;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-dark: #00a6d2;
$color-primary-lightest: #e1f3f8;
$color-primary-darkest: #112e51;
$color-white: #ffffff;
$color-base: #212121;
$color-dark-blue: #12223A;
$color-gray-lighter: #d6d7d9;
$color-alt-gray: #C3C8CF;
$color-gold: #fdb81e;
$color-red: #cd2026;
$color-off-white: #F1F1F1;
$color-primary-alt-lightest: #e1f3f8;
$color-gray-dark: #323a45;
$color-blue-dark: #12223A;
