@mixin va-api-input-text-color($color) {
  input,
  input:focus::placeholder,
  ::placeholder {
    color: $color;
  }
}

@mixin focus-outline {
  outline: 2px solid $color-gold;
  outline-offset: 2px;
}
