@import './variables';

// Import lots of fonts used in Swagger UI and Theme Muted in a way that works with visual regressions
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Source+Code+Pro:ital@0;1&family=Titillium+Web&family=Ubuntu+Mono&display=swap');

.swagger-ui {
  margin-top: 20px;

  select,
  label {
    color: $color-base;
  }

  .info {
    margin: 0 0 3.2rem;
    word-break: break-word;

    code {
      background-color: $color-gray-lightest;
      color: $color-primary-darker;
    }

    table {
      word-break: initial;
    }

    p {
      color: $color-base;
      font-family: $font-sans;
      font-size: 1.6rem;
      margin: 0.8rem 0;
    }

    hgroup.main {
      margin: 0 0 0.8rem;

      a {
        font-family: $font-sans;
        font-size: 1.6rem;
      }
    }

    a {
      color: #004795;
      font-family: $font-sans;
      font-size: 1.6rem;
      transition: none;

      &:visited {
        color: #4c2c92;
      }
    }

    & > div {
      margin: 0;
    }

    h1 {
      font-size: $h2-font-size;
      margin-top: $spacing-md-small;
    }

    h2 {
      font-size: $h3-font-size;
      &.fhir-revision[tabindex]:focus {
        outline-color: green;
      }

      &.title {
        // never show Swagger UI's title feature
        display: none;
      }
    }

    h3 {
      font-size: $h4-font-size;
    }
  }

  .opblock .opblock-summary-path {
    word-break: break-word;
  }

  .opblock.opblock-post .opblock-summary-method {
    background: #44615d;
  }

  .opblock .opblock-summary-description {
    font-family: $font-sans;
  }
  .opblock.opblock-deprecated {
    opacity: 0.75; // 0.6 (default from swagger-ui) violates a11y rule for color-contrast
  }

  .models h4 span {
    color: #555555;
  }

  .servers-title {
    display: block;
    margin-bottom: 2em;
  }

  .scheme-container {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  button.authorize {
    border-color: #4c565c;
    color: #4c565c;
  }

  button.authorize:hover,
  button.authorize:focus {
    background-color: #4c565c;
    color: #ffffff;

    svg {
      fill: currentColor;
    }
  }

  button.authorization__btn:hover,
  button.authorization__btn:focus {
    background-color: rgba(0, 0, 0, 0.8);

    svg {
      fill: #ffffff;
    }
  }

  .opblock-tag:focus {
    background: rgba(0, 0, 0, 0.2);
  }

  .opblock-tag {
    p {
      font-family: $font-sans;
    }
  }

  button.expand-operation:hover,
  button.expand-operation:focus {
    background: rgba(0, 0, 0, 0.6);

    svg {
      fill: #ffffff;
    }
  }

  .global-server-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 2em;

    .servers-title {
      margin-bottom: 1em;
    }
  }

  .wrapper {
    padding: 0;
  }

  table {
    td {
      border: none;
    }
  }

  blockquote {
    line-height: 1.5;
    color: $color-gray-dark;
    background: $color-primary-alt-lightest;
    padding: 1rem;
    padding-right: 2rem;
  }

  .opblock-body {
    pre {
      max-height: 400px;
      overflow-y: auto;
      background: #222935;
    }
    .code-wrapper {
      background: #41444e;
      border-radius: 4px;
    }
  }

  svg.svg-assets {
    // for some reason the SVG assets component is like ~300x100 pixels
    // swagger-ui source appears to set these styles on the React element, but they
    // didn't make it to the browser
    position: absolute;
    width: 0;
    height: 0;
  }

  /* 
   * Hides lock (authorization button) displayed in the api details
   */
  button.authorization__btn {
    display: none;
  }

  button.opblock-summary-control {
    align-items: center;
    background: none;
    display: flex;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  button.opblock-control-arrow {
    background: none;
  }
  .models-control {
    background: none;
    display: flex;
    font-family: Titillium Web, sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .model-box-control {
    background: none;
    color: #3b4151;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .model.model-title {
    line-height: 1.5;
    word-break: break-word;
  }

  .model-hint {
    display: none;
  }

  .prop-format {
    color: #777;
  }
}

div.model-example ul.tab li.tabitem::after {
  right: 4px;
}

h2.fhir-revision:focus {
  animation: 1s temporaryFocusOutline 1s;
  animation-fill-mode: forwards;
}
@keyframes temporaryFocusOutline {
  0% {
    outline: 2px solid rgba(249, 198, 66, 1);
  }
  100% {
    outline: 2px solid rgba(249, 198, 66, 0);
  }
}
