@import './mixins';

.react-tabs {
  margin-top: 40px;

  > ul {
    border-color: $color-gray-lighter;
    margin: 0;

    > li {
      margin-bottom: 0;
    }

    [aria-selected='true'] {
      border-color: $color-gray-lighter;
    }
  }

  [role='tabpanel'] {
    background-color: $color-white;
    border-right: 1px solid $color-gray-lighter;
    border-bottom: 1px solid $color-gray-lighter;
    border-left: 1px solid $color-gray-lighter;
    padding: 1.5rem 2rem;
  }
}

.react-tabs__tab:focus {
  @include focus-outline;
  box-shadow: none;

  &:after {
    display: none;
  }
}