@import '../../styles/variables';

@include media($medium-screen) {
  .api-selector-container {
    button {
      width: calc(100% - 2rem) !important;
    }

    &.theme-light {
      button {
        margin: 4.2rem 0 2rem 2rem !important;
      }
    }

    &.theme-dark {
      button {
        margin: 2rem 0 2rem 2rem !important;
      }
    }
  }
}

.api-selector-container {
  &.theme-dark {
    background-color: $color-gray;
    border-radius: 6px 6px 0 0;
    margin-top: 2rem;

    + .code-wrapper {
      border-radius: 0 0 6px 6px;
    }
  }

  &.theme-light {
    background-color: #f1f1f1;
    margin: 1.6rem 0;
    padding: 1.6rem 1rem;
  }

  .tooltip {
    display: none;
    background: $color-gray-dark;
    color: $color-gray-lightest;
    padding: 5px 10px;
    border-radius: 2px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;

    .arrow {
      position: absolute;
      background: $color-gray-dark;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
    }
  }

  .tooltip {
    display: none;
    background: $color-gray-dark;
    color: $color-gray-lightest;
    padding: 5px 10px;
    border-radius: 2px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;

    .arrow {
      position: absolute;
      background: $color-gray-dark;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
    }
  }

  label {
    margin-top: 1rem;
  }

  select {
    display: block;
    min-width: 100%;
    margin-top: 0.5rem;
  }

  button {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    white-space: nowrap;
  }

  #swagger-ui & {
    max-width: 800px;
  }
}
