.va-api-logo {
  a {
    font-weight: 300;
  }
}

.va-api-mobile-menu-button {
  border-radius: 0;
  height: 4rem;
  text-transform: uppercase;
  width: 6rem;
}

.va-api-header {
  position: relative;
}

a.va-api-skipnav {
  background-color: #f9f9f9;
  position: absolute;
  z-index: 100;
  top: -1000px;

  &:focus {
    top: 0;
    outline-offset: 0;
  }

  &:hover {
    background-color: #f9f9f9;
  }
}
