@import '../../styles/variables';

.va-api-nav {
  background-color: $color-white;
  width: 25rem;
  z-index: 0;

  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;

  margin-top: 0.3rem;

  @include media($medium-screen) {
    background-color: $color-primary-darkest;
    position: static;
    overflow-y: visible;
  }

  &.va-api-mobile-nav-visible {
    display: block !important;
    z-index: 2;
  }

  .va-api-mobile-nav-close {
    align-self: end;
    background-color: $color-white;
    color: $color-gray;
    float: right;
    height: 40px;
    width: 40px;

    img {
      height: 15px;
      width: 15px;
    }
  }

  a.va-api-nav-link,
  button.va-api-nav-button {
    transition: background-color 0.3s ease-in-out;
  }

  a.va-api-nav-link {
    cursor: pointer;

    &.va-api-active-nav {
      font-weight: 700;
    }

    @include media($medium-screen) {
      margin-bottom: 3px;
      color: $color-white !important;

      &.va-api-active-nav {
        font-weight: 400;
        border-bottom: 3px solid $color-gold;
        margin-bottom: 0;
      }

      &:hover {
        color: $color-gold !important;
      }
    }
  }

  button.va-api-nav-button {
    background-color: inherit;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }

  .va-api-nav-secondary {
    clear: both;
  }

  img.va-api-expand-nav-icon {
    width: 8px;
    height: 8px;
  }

  ul.va-api-sub-nav {
    list-style: none;
  }

  .va-api-external-link {
    @include media($medium-screen) {
      color: $color-white !important;
      &:hover {
        color: $color-gold !important;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }

  .va-api-separator::before {
    color: $color-white;
    content: '|';
    font-weight: 300;
    margin: 0 1.6rem;
    @include media($medium-screen) {
      font-size: 2.4rem;
    }
  }

  .va-api-search-bar-container {
    background-color: #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 0.8rem;
    position: absolute;
    right: 0;
    top: 62px;
    z-index: 1000;
  }

  .va-api-navbar-search-button {
    border-radius: 0;

    &:hover {
      color: $color-gold;
    }
  }
}
