@import '../styles/variables';

.site-notice-text {
  max-width: 350px;

  @include media($small-desktop-screen) {
    max-width: none;
    margin-left: 0;
  }
  
  .va-api-site-guidance-button {
    background-color: rgba(0, 0, 0, 0);  

    &[aria-expanded=true] {
      @include display-icon(angle-arrow-up-primary, after, 1rem, 4px, hover);
    }
    
    &[aria-expanded=false] {
      @include display-icon(angle-arrow-down-primary, after, 1rem, 4px, hover);
    }
  }
}

.va-api-banner-icon {
  height: 2rem;
  width: 2rem;
}
