@import '../styles/variables';

a.va-api-card {
  border-top-color: #C4C4C4 !important;

  &:hover {
    border-top-color: $color-gold !important;
  }

  @include media($medium-screen) {
    width: 200px !important;
  }
}
