@import '../styles/variables';

.va-api-footer {
  background-color: $color-blue-darkest;
  color: $color-white;
  width: 100%;

  img {
    height: auto;
    width: 200px;
  }

  .va-api-beta-banner {
    background-color: $color-blue-dark;
  }

  .va-api-footer-links {
    a {
      font-size: 1.4rem;
      color: $color-white;
    }

    ul {
      list-style: none;
    }

    @include media($medium-screen) {
      ul {
        li {
          margin-bottom: 0;
          padding-left: 3rem;
        }
      }
    }
  }
}
