.va-api-logo {
  a {
    font-weight: 300;
  }
}

.va-api-mobile-menu-button {
  border-radius: 0;
  height: 4rem;
  text-transform: uppercase;
  width: 6rem;
}

.va-api-header {
  position: relative;
}