@import "../base";

.usa-header {
  background: $color-primary-darkest;

  .usa-logo a {
    color: #FFFFFF;
    font-weight: 300;
  }

  @media screen and (min-width: $large-screen) {
    .usa-nav-secondary {
     top: -7.0rem;

   }
  }

  .usa-nav {
    background: $color-primary-darkest;
    z-index: 0;

    a {
      color: #FFFFFF;

      svg {
        margin-right: 0.3em;
      }
      
      &:hover {
        color: orange;

      }
    }
    &.is-visible {

      .usa-menu-button {
        background-color: $color-primary-alt-dark;
      }

      a.usa-nav-link:hover {
        color: $color-primary-darkest;
      }

      .usa-nav-secondary-links a {
        color: #FFFFFF;
      }

    }
  }

  .is-hidden {
    display: none !important;
  }
}
