@import '../styles/variables';

.va-api-nav {
  background-color: $color-white;
  width: 25rem;
  z-index: 0;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  
  @include media($medium-screen) {
    background-color: $color-primary-darkest;
    position: relative;
  }

  &.va-api-mobile-nav-visible {
    display: block !important;
    z-index: 2;
  }

  .va-api-mobile-nav-close {
    height: 40px;
    width: 40px;
    float: right;
    background-color: transparent;
    
    img {
      height: 15px;
      width: 15px;
    }
  }

  a.va-api-nav-link,
  button.va-api-nav-button {
    transition: background-color 0.3s ease-in-out;
  }
  
  a.va-api-nav-link {
    cursor: pointer;

    &.va-api-active-nav {
      font-weight: 700;
    }
    
    @include media($medium-screen) {
      margin-bottom: 3px;
      color: $color-white !important;
      
      &.va-api-active-nav,
      &:hover {
        font-weight: 400;
        border-bottom: 3px solid #FDB81E;
        margin-bottom: 0;
      }
    }
  }

  button.va-api-nav-button {
    background-color: inherit;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }

  .va-api-nav-secondary {
    clear: both;
  }
  
  img.va-api-expand-nav-icon {
    width: 8px;
    height: 8px;
  }
  
  ul.va-api-sub-nav {
    list-style: none;
  }
}