@import '../styles/variables';
@import '../styles/mixins.scss';

.va-api-search-wrapper {
  button[type=submit] {
    width: 4rem;
  }

  input.va-api-search-autocomplete {
    @include media($medium-screen) {
      width: 240px;
    }
  }
  
  form {
    button.va-api-search-submit {
      border-radius: 0 5px 5px 0;
    }
  }
}

.va-api-search-form--inverse-color {
  @include va-api-input-text-color($color-gray-lightest);

  input.va-api-search-autocomplete {
    background-color: $va-api-color-blue-dark;
  }
}

.va-api-search-form--transparent-submit {
  button[type=submit] {
    appearance: none;
    background-color: transparent;
    color: $va-api-color-gray-alt;
    overflow: hidden;

    &:hover {
      color: $color-gold;
    }
  }
}
