@import '../styles/variables';

.vadp-side-nav {
  padding-right: 3rem;

  &.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    display: none;

    @include media($medium-screen) {
      display: block;
      position: sticky;
    }

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

  .usa-sidenav-list {
    border: 2px solid #dbdbdd;
    background-color: white;

    a {
      padding-left: 1.1rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    li {
      border-top: 2px solid #dbdbdd;
    }

    > li {
      a {
        color: #222;
      }

      a.usa-current {
        color: #383838;
        border-left: 5px solid #2f70b5;
      }

      a:hover {
        background-color: #dbdbdd;
      }

      a.usa-current + ul.usa-sidenav-sub_list {
        // Show the subnav when its parent (represented as a sibling in the DOM)
        // is the selected nav item
        display: block;

        ul.usa-sidenav-sub_list > li > a {
          padding-left: 5rem;
        }
      }

      a + ul.usa-sidenav-sub_list {
        // Hide subnav by default
        display: none;
      }
    }
  }

  .usa-sidenav-sub_list {
    padding-left: 0;

    > li a {
      padding-left: 3.3rem;

      &.usa-current {
        border: none;
      }
    }
  }

  .usa-sidenav-list > li:first-child {
    border-top-style: none;
    border-top-width: 0;
  }
}
