@import '../../../styles/variables';

.va-api-authorization-docs {
  .api-selector {
    background-color: $color-gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    select {
      color: #80f8a2;
      option {
          color: $color-base;
      }
    }
  }

  .api-selector + .code-wrapper {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
