$background-color: #222935;

.code-block {
  background: $background-color;
  border-radius: 6px;

  .code-wrapper {
    border-radius: inherit;
  }

  .hljs {
    background: #222935;
  }

  .copy-btn-container {
    padding: 1rem 1.3rem;
    background: $background-color;
    border: none;
    border-radius: inherit;
  }
}
