@import './base';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

// app-container only exists and is flexed to address a bug
// in IE11 where min-height is only respected if the
// parent of a flex container is also a flex container.
.app-container {
  display: flex;
}
