@import './base';

@import "~uswds/src/stylesheets/uswds";

// This section includes overrides to USWDS and mixins from Formation

h1 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3em;
  color: #323A45;
}

h2 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3em;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #323A45;
}

h3 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  margin-top: 2rem !important;
  margin-bottom: 1.5rem !important;
  color: #323A45;
}

h4 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em;
  color: #323A45;
}

h5 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
  color: #323A45;
}

.lead-paragraph {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
}

.usa-font-lead {
  font-family: $font-sans;
  margin-bottom: 1.5rem !important;
}

p {
  font-family: $font-sans;
  font-weight: 400;
  line-height: 1.5em;
}

span.mono {
  font-family: monospace;
}

// Stickyfill left hand nav styles
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222;

  header {
    flex-shrink: 0;
  }

  footer {
    flex-shrink: 0;
  }

  .main {
    flex-grow: 1;
    background-color: #F9F9F9;
  }
}

