// Variables
// ==========

// Asset reference - must import before USWDS
@import './styles/variables';

// Imports
// =======
@import '~uswds/src/stylesheets/uswds';

// USWDS Overrides 🚗
// ==================

// Layout

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222;
}

.usa-grid {
  max-width: 1200px !important;
  margin-left: 0 !important;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  background-color: #f9f9f9;
}

// Typography

h1 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3em;
  color: #323a45;
}

h2 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3em;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #323a45;
}

h3 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  margin-top: 2rem !important;
  margin-bottom: 1.5rem !important;
  color: #323a45;
}

h4 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em;
  color: #323a45;
}

h5 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
  color: #323a45;
}

p {
  font-family: $font-sans;
  font-weight: 400;
  line-height: 1.5em;
}

.lead-paragraph {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
}

.usa-font-lead {
  font-family: $font-sans;
  margin-bottom: 1.5rem !important;
}

span.mono {
  font-family: monospace;
}

@mixin focus-outline {
  outline: 2px solid $color-gold;
  outline-offset: 2px;
}

*:focus,
a:focus,
.usa-focus,
[type=checkbox]:focus + label::before {
  @include focus-outline;
}

.react-tabs__tab:focus {
  @include focus-outline;
  box-shadow: none;
}

// The site disclaimer has a yellow background so change outline color
// to the color of the link text so it can be seen
.site-disclaimer a {
  &:active,
  &:focus {
    outline-color: #004795;
  }
}

.markdown-wrapper {
  // This rule seeks to mimick the USWDS .usa-section > :first-child
  // rule that removes the top margin from most top-level headers on
  // our site. The markdown-component-loader introduces an
  // intermediation <div> element that prevents the USWDS rule from
  // matching.
  :first-child {
    margin-top: 0;
  }
}

