// Variables
$font-path: "~uswds/src/fonts";
$image-path: "~uswds/src/img";
$color-gray-cool-light:  #dce4ef;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-dark: #00a6d2;
$color-primary-lightest: #e1f3f8;
$color-primary-darkest: #1b2b3e;
$color-white: #ffffff;
$color-base: #212121;
$color-gray-lighter: #d6d7d9;
$color-gold: #fdb81e;
$color-red: #cd2026;
$medium-large-screen: 768px;
$medium-screen: 640px;
$large-screen: 951px;

//  Imports
@import '~uswds/src/stylesheets/core/variables-vendor';
@import '~uswds/src/stylesheets/lib/bourbon';
@import '~uswds/src/stylesheets/lib/neat';
@import '~uswds/src/stylesheets/core/variables';
@import '~uswds/src/stylesheets/core/utilities';
