// Variables
// ==========

// Asset reference - must import before VADS
@import './styles/variables';

// Imports
// =======
@import '~@department-of-veterans-affairs/formation/sass/full';
@import './styles/mixins';

// VADS Overrides 🚗
// ==================

// Layout

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #222;
}

// use our site width and left-align rather than center-align grids
.vads-l-grid-container {
  max-width: 120rem;
  margin-left: 0;
}

.va-api-home__image {
  width: 200px;
}

.va-api-margin-y--auto {
  margin-top: auto;
  margin-bottom: auto;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

// Override <a> styles from formation. The non-hover transition
// is defined in formation/sass/base/_va.scss and the hover styles
// can be found in formation/sass/base/_b-mixins.scss
a {
  transition: none;

  &:hover {
    transition: none;
    background-color: rgba(0,0,0,0);
  }
}

.main {
  flex-grow: 1;
  background-color: #f9f9f9;
}

// Typography

h1 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3em;
  color: #323a45;
}

h2 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3em;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #323a45;
}

h3 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  margin-top: 2rem !important;
  margin-bottom: 1.5rem !important;
  color: #323a45;
}

h4 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em;
  color: #323a45;
}

h5 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
  color: #323a45;
}

p {
  font-family: $font-sans;
  font-weight: 400;
  line-height: 1.5em;
}

.lead-paragraph {
  font-family: $font-sans;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
}

span.mono {
  font-family: monospace;
}

*:focus,
a:focus,
.usa-focus,
[type=checkbox]:focus + label::before {
  @include focus-outline;
}

.react-tabs__tab:focus {
  @include focus-outline;
  box-shadow: none;
}

// The site disclaimer has a yellow background so change outline color
// to the color of the link text so it can be seen
.site-disclaimer a {
  &:active,
  &:focus {
    outline-color: #004795;
  }
}

// Override styles from formation/sass/base/_va.scss that hide
// placeholder text on focus
input:focus::placeholder {
  color: $color-gray;
}
