@mixin no-sr-content {
  &:after {
    content: none;
  }
}

.va-flex {
  display: -webkit-flex;
  display: flex;
}

.va-crisis-line {
  margin-top: 5px;
  background-color: #A62D1B;

  @include media($medium-large-screen) {
    margin-top: 0;
    position: absolute;
    right: 7rem;
    top: 0;
  }

  @include media($large-screen) {
    right: 3rem;
  }
}

button.va-crisis-line-button {
  background-color: #A62D1B;
  border-radius: 0;
  color: $color-white;
  margin: auto;
  padding: 0.4em 0 0.3em 0;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;

  @include media($medium-large-screen) {
    display: block;
    width: auto;
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 0 2px 5px $color-base;
    padding: 0;
    text-align: left;

    .vcl-container {
       background-color: #7F2011;
    }
  }

  &:hover {
    background-color: #7F2011;

    @include media($medium-large-screen) {
      .vcl-container {
        background-color: #A62D1B;
      }
    }
  }

  &:focus,
  &:active {
    outline-offset: -2px;
    outline: 2px solid #FDB81E;
  }

  .vcl-container {
    margin-right: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .vcl {
    content: "";
    background: url('../assets/VCL-icon-white.svg') no-repeat right 29%;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.3em 0.5em -0.3em 0.5em;
  }

  .vcl-text {
    margin-right: 10px;
  }

  .vcl-right-arrow {
    width: 1.2rem;
    margin-right: 10px;
  }

  > .va-flex {
    align-items: center;
    pointer-events: none;
  }
}
