// Note: Styles are from Formation.
.va-overlay {
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
  visibility: hidden;
  &-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}

.va-modal {
  background: rgba(50, 58, 69, 0.8);
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  @media screen and (max-width: 481px) {
    overflow-y: scroll;

  }
}

.va-modal-inner {
  background: $color-white;
  margin: auto;
  max-width: 40rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  cursor: auto;

  @media screen and (max-width: 481px) {
    transform: none;
    top: 0;
  }

  .va-modal-large & {
    max-width: 75rem;
    width: 75vw;

    .va-model-body {
      max-height: 95vh;
      overflow-y: auto;
    }
  }
}

.va-modal-body {
  overflow-wrap: break-word;
  padding: 2rem;
  word-break: break-word;
  word-wrap: break-word;
}

button.va-modal-close {
  background-color: transparent;
  color: rgba(33, 33, 33, 0.8);
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  margin: 0.25rem;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9;
  &:hover {
    background-color: inherit;
    color: #212121;
  }
}
