.va-api-contact-us-form {
  label {
    max-width: 100%;
  }

  .contact-details {
    .usa-input-error {
      margin-top: 0;
    }
  }

  .second-label {
    margin: 0;
  }
  
  .second-label-required-span {
    margin: 0;
  }
}